@import "tailwindcss";

:root {
  --background: hsl(42 45% 96%);
  --foreground: hsl(20 14% 20%);
  
  --primary: hsl(358 65% 42%);
  --primary-400: hsl(358 65% 52%);
  --primary-500: hsl(358 65% 62%);

  --primary-foreground: hsl(42 45% 96%);

  --secondary: hsl(42 82% 55%);
  --secondary-foreground: hsl(20 14% 20%);

  --accent: hsl(45 100% 51%);
  --accent-foreground: hsl(20 14% 20%);

  --radius: 0.75rem;

  --gradient-hero: linear-gradient(135deg, hsl(358 65% 42%) 0%, hsl(15 55% 48%) 100%);
  --gradient-accent: linear-gradient(135deg, hsl(42 82% 55%) 0%, hsl(45 100% 51%) 100%);

  --shadow-rose: 0 20px 40px -12px hsl(358 65% 42% / 0.25);

  --shadow-black: 0 20px 40px -12px hsl(0 0% 0% / 0.25);

  --bg-bilhete-destino-oculto: linear-gradient(180deg, #d39b5a 0%, #b06e39 40%, #7a4823 100%);

  --bg-bilhete-destino: radial-gradient(
    circle at 30% 30%,
    #f0ddc0 0%,
    #f5e6ca 70%,
    #e2cfb3 100%
  );

  --cinza: "#808080";
  --vermelho: #DC2626;
  --azul: #2564ebd3;
  --verde: #16A34A;
  --amarelo: #ffd105be;
  --preto: #1F2937;
  --roxo: #5b27b6b0;
  --laranja: #ff8800f1;
  --branco: #ffffffff;

  --coringa: linear-gradient(
    135deg,
    var(--vermelho),
    var(--amarelo),
    var(--verde),
    var(--azul),
    var(--preto)
  );

}

@layer utilities {
  .bg-bilhete-destino {
    background: var(--bg-bilhete-destino);
  }

  .bg-background {
    background-color: var(--background);
  }
  .text-foreground {
    color: var(--foreground);
  }

  .font-sans {
    font-family: var(--font-geist-sans);
  }
  .font-mono {
    font-family: var(--font-geist-mono);
  }

  .bg-bilhete-destino-oculto {
    background: var(--bg-bilhete-destino-oculto);
  }

  .bg-primary {
    background-color: var(--primary);
  }
  .bg-primary-400 {
    background-color: var(--primary-400);
  }
  
  .text-primary-foreground {
    color: var(--primary-foreground);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .text-secondary-foreground {
    color: var(--secondary-foreground);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .text-accent-foreground {
    color: var(--accent-foreground);
  }

  .rounded-theme {
    border-radius: var(--radius);
  }
  .shadow-rose {
    box-shadow: var(--shadow-rose);
  }
  .shadow-black {
    box-shadow: var(--shadow-black);
  }

  .bg-gradient-hero {
    background: var(--gradient-hero);
  }
  .bg-gradient-accent {
    background: var(--gradient-accent);
  }

  .bg-roxo-custom {
    background-color: var(--roxo);
  }
  .bg-vermelho-custom {
    background-color: var(--vermelho);
  }
  .bg-laranja-custom {
    background-color: var(--laranja);
  }
  .bg-azul-custom {
    background-color: var(--azul);
  }
  .bg-verde-custom {
    background-color: var(--verde);
  }
  .bg-amarelo-custom {
    background-color: var(--amarelo);
  }
  .bg-preto-custom {
    background-color: var(--preto);
  }
  .bg-cinza-custom {
    background: var(--cinza);
  }
  .bg-coringa-custom {
    background: var(--coringa);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --border-radius: var(--radius);
  --gradient-hero: var(--gradient-hero);
  --gradient-accent: var(--gradient-accent);
  --shadow-rose: var(--shadow-rose);

  --red: var(--red);
  --blue: var(--blue);
  --green: var(--green);
  --yellow: var(--yellow);
  --black: var(--black);
  --all: var(--all);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #928d8d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}

